
h1{
    color: rgb(212, 37, 37);
    background-color: yellow;
    text-align: center;
}
h2{
    color: blue;
    background-color: black;
    text-align:center;
}
p{
    color: aquamarine;
    background-color: black;
    text-align: center;
}